<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book page</title>
</head>
<body>
    <h1>This page is for adding new books</h1>
    <form method="POST" action="/bookadded">
        Book Name: <input id="name" type="text" name="name">
        Price: <input id="price" type="text" name="price">
        <input type="submit" value="Add Book">
    </form>
</body>
</html>