<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1><%=header%></h1>
    <p>Very interesting and engaging website content</p>
    <ul>
        <li><a href="/list">List</a></li>
        <li><a href="/bargainbooks">Bargain Books</a></li>
        <li><a href="/addbook">Add Book</a></li>
    </ul>
</body>
</html>