<!doctype html>
<html>

<head>
    <title>This is the register page title!</title>
</head>

<body>
    <h1> This is the register page </h1>
    <form method="POST" action="/bookadded">
        Book name: <input id="name" type="text" name="name" />
        Book price: <input id="price" type="decimal" name="price" />
        <input type="submit" value="OK" />
    </form>
</body>

</html>